<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Level_Selection" />
        <activity android:name=".StageSelection.Level_Endless" />
        <activity android:name=".StageSelection.Level_Hard" />
        <activity android:name=".StageSelection.Level_Average" />
        <activity android:name=".StageSelection.Level_Easy" />
        <activity android:name=".GameActivity" />

        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".Services.Background_Music"/>
        <service android:name=".Services.Game_Music"/>

    </application>

</manifest>